.footer-container {
  width: 100vw;
  padding: 20px 10px;
  box-shadow: rgba(255, 255, 255, 0.06) 0px 2px 4px 0px inset;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
}

.owner-name p {
  margin: 0;
  font-size: 1.3rem;
  text-align: center;
}

.social-links {
  display: flex;
  gap: 15px;
}

.social-icon {
  color: #ccc;
  transition: all 0.3s ease;
}

.social-icon:hover {
  color: orange;
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .social-links {
    justify-content: center;
    margin-top: 10px;
  }
}
